.tabela-empresas, .search-empresas, .tabela-cadastro  {
    padding-top: 8px;
    padding-bottom: 8px;
}
.endereço {
    padding-top: 8px;
    padding-bottom: 8px;
}
.button-edit-emp {
    right: 40rem;
    width: 38rem;
    bottom: -174px;
}
.select-vendas {
    width: 41rem;
    left: 150px;
}
.caixa-vendas {
    padding-top: 100px;
    padding-bottom: 100px;

}