.tabela-empresas, .search-empresas, .tabela-cadastro  {
    padding-top: 8px;
    padding-bottom: 8px;
}
.endereço {
    padding-top: 8px;
    padding-bottom: 8px;
}
.button-edit-emp {
    right: 40rem;
    width: 38rem;
    bottom: 280px;
}